[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/htr3n/hyde-hyde.git
[submodule "public/public"]
	path = public/public
	url = git@github.com:andyibanez/andyibanez.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/AndyIbanez/andyibanez.github.io.git
	branch = master
